@font-face {
    font-family: 'new_amsterdamregular';
    src: url('newamsterdam-webfont.woff2') format('woff2'),
         url('newamsterdam-webfont.woff') format('woff'),
         url('newamsterdam-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'splendid_66bold';
    src: url('splendidb-webfont.woff2') format('woff2'),
         url('splendidb-webfont.woff') format('woff'),
         url('splendidb-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'splendid_66light';
    src: url('splendidi-webfont.woff2') format('woff2'),
         url('splendidi-webfont.woff') format('woff'),
         url('splendidi-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'splendid_66regular';
    src: url('splendidn-webfont.woff2') format('woff2'),
         url('splendidn-webfont.woff') format('woff'),
         url('splendidn-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}